<html>
    <head>
        <meta charset = "UTF-8">
        <title>당신의 운세</title>
    </head>
    <body>
        <center>
            <h2>🙋🏻 회원가입 🙋🏻‍♀️</h2>
            <form method="POST" action="/register">
                <div>
                    <label>계정 : </label>
                    <input name="id" type="text">
                </div>
                <br>
                <div>
                    <label>비번 : </label>
                    <input name="passwd" type="password">
                </div>
                <br>
                <div>
                    <label>이름 : </label>
                    <input name="name" type="text">
                </div>
                <br>
                <div>
                    <label>생년월일 : </label>
                    <input type = "date" name="birth"><br>
                </div>
                <br>
                <div class="button">
                    <input type="submit" value="등 록">
                    <input type="reset" vale="취 소">
                </div>
            </form>
        </center>
    </body>
</html>