<html>
    <head>
        <title>서핑대회1</title>
    </head>
    <body>
        <h1>순천향 서핑 대회1</h1>
        <hr>
        <form method="GET" action="/result">
            이름 : <input name="name" type="text"><br><br>
            평균점수 : <input name="score" type="text"><br><br>
            성별 : 남<input type="radio" name="gender" value="male">
            여<input type="radio" name="gender" value="female"><br><br>
            국가 : <select name="country" size="3">
            <option value="KOR">한국</option>
            <option value="USA">미국</option>
            <option value="CHN">중국</option>
            <option value="JPA">일본</option>
            <option value="ENG">영국</option>
            <option value="FRA">프랑스</option>
            <option value="AUS">호주</option>
            </select><br><br>
            <input type="submit" value="SEND"><br>
        </form>
    </body>
</html>